.tab {
    -fx-background-color: #fff;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 3em 0.5em;
}

.tab:selected {
    -fx-background-color: #f00;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}
