.tab {
    -fx-background-color: #141E30;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 3em 0.1em;
    -fx-pref-width: 70px;
    -fx-pref-height: 210px;
}

.tab:hover {
    -fx-background-color: rgba(36, 59, 85, 0.7);
    -fx-cursor: hand;
}

.tab:selected {
    -fx-background-color: rgba(36, 59, 85, 0.7);
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab-pane>*.tab-header-area>*.tab-header-background
{
    -fx-background-color: -fx-outer-border, -fx-text-box-border, #141E30;
}

.button{
    -fx-background-color:  #141e30;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color:  rgba(36, 59, 85, 0.7);
    -fx-text-fill: white;
}

.table-view{
    -fx-border-color: #141e30;
}

.text-field{
    -fx-background-color: #141e30;
    -fx-text-fill: white;
}